<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Copyright 1999-2011 Alibaba Group.
 -
 - Licensed under the Apache License, Version 2.0 (the "License");
 - you may not use this file except in compliance with the License.
 - You may obtain a copy of the License at
 -
 -      http://www.apache.org/licenses/LICENSE-2.0
 -
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 - See the License for the specific language governing permissions and
 - limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="dubbox-product" owner="programmer" organization="dubbox"/>

    <dubbo:provider delay="-1" timeout="3000"  />
    <dubbo:registry address="${dubbo.zookeeper.addr}"/>

    <!--uncomment this if you want to test dubbo's monitor-->
    <!--<dubbo:monitor protocol="registry"/>-->

    <!-- here we demonstrate both annotation-based and xml-based configs -->
    <dubbo:annotation package="com.telecomjs.service.intf" />

    <dubbo:protocol name="dubbo" serialization="kryo" optimizer="com.telecomjs.serialize.SerializationOptimizerImpl" port="${dubbo.product.dubboport}"/>
    <!--<dubbo:protocol name="dubbo" serialization="fst" optimizer="com.alibaba.dubbo.demo.SerializationOptimizerImpl"/>-->

    <!--<dubbo:protocol name="dubbo" serialization="nativejava"/>-->
    <!--<dubbo:protocol name="dubbo" serialization="hessian2"/>-->
    <!--<dubbo:protocol name="dubbo" serialization="fastjson"/>-->
    <!--<dubbo:protocol name="dubbo" serialization="dubbo"/>-->


    <!--TODO according to the spring convention, we should use something like keep-alive-->
    <!-- use netty server -->
    <!--<dubbo:protocol name="rest" port="8888" keepalive="true" server="netty" iothreads="5" threads="100" contextpath="services"/>-->

    <!-- use tjws server -->
    <!--<dubbo:protocol name="rest" port="8888" server="tjws" contextpath="services"/>-->

    <!-- use tomcat server -->
    <dubbo:protocol name="rest" port="${dubbo.product.restport}" threads="500" contextpath="services" server="tomcat" accepts="500"
                    extension="com.telecomjs.extension.TraceInterceptor,
                    com.telecomjs.extension.TraceFilter,
                    com.telecomjs.extension.ClientTraceFilter,
                    com.telecomjs.extension.DynamicTraceBinding,
                    com.telecomjs.extension.CustomExceptionMapper,
                    com.alibaba.dubbo.rpc.protocol.rest.support.LoggingFilter" />


    <!-- use the external tomcat or other server with the servlet approach; the port and contextpath must be exactly the same as those in external server -->
    <!--<dubbo:protocol name="rest" port="8887" contextpath="services" server="servlet"/> -->
    <!--
    <dubbo:protocol name="http" port="8289"/>
    <dubbo:protocol name="hessian" port="8290"/>
    <dubbo:protocol name="webservice" port="8292"/>
    -->

    <dubbo:service interface="com.telecomjs.service.intf.ProductService" ref="productService"  protocol="dubbo"/>
    <dubbo:service interface="com.telecomjs.service.intf.ProductRestService" ref="productRestService"  protocol="dubbo"/>
    <dubbo:service interface="com.telecomjs.service.intf.ProductRestService" ref="productRestService"  protocol="rest"  timeout="2000" connections="100"  />
    <!-- we add the group property since there's another annotation-configured service impl: com.alibaba.dubbo.demo.user.facade.AnnotationDrivenUserRestServiceImpl -->
    <!--
    <dubbo:service interface="com.alibaba.dubbo.demo.user.facade.UserRestService" ref="userRestService"  protocol="rest" validation="true"/>
    <dubbo:service interface="com.alibaba.dubbo.demo.user.facade.AnotherUserRestService" ref="anotherUserRestService"  protocol="rest"  timeout="2000" connections="100" validation="true"/>
    -->
    <bean id="productService" class="com.telecomjs.service.impl.ProductServiceImpl" />


    <bean id="productRestService" class="com.telecomjs.service.rest.ProductRestServiceImpl">
        <property name="productService" ref="productService"/>
    </bean>
    <!--
    <bean id="anotherUserRestService" class="com.alibaba.dubbo.demo.user.facade.AnotherUserRestServiceImpl">
        <property name="userService" ref="userService"/>
    </bean>
    -->
</beans>